src/main/mule/emp-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bfa4c27a-527d-414e-9dbf-03596d2156bc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="66df9907-8783-43b2-aeec-6747fbd98e17" >
		<db:generic-connection url="jdbc:postgresql://localhost:5432/emp" driverClassName="org.postgresql.Driver" user="postgres" password="postgres" />
	</db:config>
	<flow name="getEmployees" doc:id="bbc5eef5-363a-493b-a417-6a5c27385fa5" >
		<http:listener doc:name="Listener" doc:id="a419ae32-b751-4e04-bd37-6a39834a7515" config-ref="HTTP_Listener_config" path="/employees"/>
		<db:select doc:name="Select" doc:id="59329526-aabc-40ef-a408-48404323739a" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from employee]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="2a6fe615-f83e-4a17-a9e1-5e58cc33f8ef" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="503f37a8-5256-4ca8-b2b7-f33f53849085" />
	</flow>
	<flow name="addEmployees" doc:id="5ca6cbfa-a7d3-47ab-a185-27602dca43d9" >
		<http:listener doc:name="Listener" doc:id="e2bd601c-418e-4437-adad-11d6e2534eed" config-ref="HTTP_Listener_config" path="/addemp" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="f9fce2cd-ff58-43f8-a209-f613c1dcfae6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="e81b5712-7b04-409d-9490-209e9e6c6a86" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into employee(e_id,e_name,e_salary)
values
(:e_id,:e_name,:e_salary)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"e_id": payload.e_id,
	"e_name":payload.e_name,
	"e_salary":payload.e_salary
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="d37de45a-1bac-4c89-8e98-8c77b8e98ea6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a8609194-2fb3-4971-8583-4209649f6995" />
	</flow>
</mule>
